development: &ALL
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: freelovr_development
  pool: 5

test:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: freelovr_test
  pool: 5