!!!
%html
  %head
    %title Freelovr List
    %link{:type => 'text/css', :media => 'screen', :href => '/stylesheets/screen.css', :rel => 'stylesheet'}
    %link{:type => 'text/css', :media => 'screen', :href => '/stylesheets/jquery.ui.css', :rel => 'stylesheet'}
    %script{:type => 'text/javascript', :src => '/javascripts/vendor/jquery.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/vendor/jquery.ui.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/vendor/spine.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/vendor/selectbox.js'}

    %script{:type => 'text/javascript', :src => '/javascripts/application.js'}

  %body.body
    %header#header
      = render 'layouts/header'
    %section#content
      = yield
    %footer#footer
      = render 'layouts/footer'