!!!
%html
  %head
    %title Freelovr List
    =stylesheet_link_tag "screen"
    =javascript_include_tag "application"

  %body.body
    %header#header
      = render 'layouts/header'
    %section#content
      = yield
    %footer#footer
      = render 'layouts/footer'